@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@font-face {
    font-family: 'Algerian';
    src: url('assets/fonts/AlgerianRegular.woff2');
  }

body {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    color: #262222;
    font-size: 20px;
    background-color: #ffffff;
    margin: 0 0 0 0;
}

header {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    background-image: url('../assets/imgs/headertransparent.png');
    background-repeat: no-repeat;
}

.cell1, .cell2 {
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: #990a07;
    display: inline-block;
    width: 80%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: right;
    font-family: 'Algerian', Georgia, 'Times New Roman', Times, serif;
}

h2 {

}

a {

}

a:hover {

}

/*  NAVIGATION BAR  */
nav {
    width: 100%;
    background-color: #ffcf76;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #990a07;
    height: 50px;
}

nav a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px;
    color: #990a07;
}

nav a:hover {
    color: black;
}

/*  MAIN CONTENT    */

main {

}

table {
    border: 0;
    width: 100%;
}

/*  INPUT FORM  */
input {
    /* border: 1px solid #990a07; */
}

textarea {
    border: 1px solid #990a07;
}


/* SINGLE PAGE ELEMENTS */

/* HOMEPAGE SLIDER */

/* note to myself: move slider styling to another sheet */ 

i {
	position: relative;
	display: block;
	width: 100%;
	height: 666px;
	overflow: hidden;
    border-radius: 5px;
    border: 0px;
}

i:before, i:after {
	content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: #ffcf76;
	color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '>';
	left: auto;
	right: 1rem;
}

input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
    position: absolute;
    /* centering the title overlay */ 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 50%;
	top: 50%;

	background-color: rgba(0,0,0,0.3);
	color: white;
	padding: .5rem;
	font-size: 3rem;
    border-radius: 5px;
    font-family: 'Algerian', Georgia, 'Times New Roman', Times, serif;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-events: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}


/* MANAGING LANGUAGES */ 

#content-eng {
	display: none;
}

#content-de {
	display: block;
}