@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@font-face {
    font-family: 'Algerian';
    src: url('assets/fonts/AlgerianRegular.woff2');
  }

body {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    color: #262222;
    font-size: 20px;
    background-color: #ffffff;
    margin: 0 0 0 0;
}

header {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    background-image: url('../assets/imgs/headertransparent.png');
    background-repeat: no-repeat;
}

.cell1, .cell2 {
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: #990a07;
    display: inline-block;
    width: 80%;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: right;
	font-family: 'Algerian', Georgia, 'Times New Roman', Times, serif;
	font-size: 44px;
	text-shadow: 1px #ffffff;
	/* fanciness */
	text-shadow: 0 1px 0 #ffffff,
               0 2px 0 #ffffff,
               0 3px 0 #ffffff,
               0 4px 0 #ffffff,
               0 5px 0 #ffffff,
               0 6px 1px#ffffff,
               0 0 5px #ffffff,
               0 1px 3px#ffffff,
               0 3px 5px #ffffff,
               0 5px 10px#ffffff,
               0 10px 10px#ffffff,
               0 20px 20px #ffffff;
}

h2 {

}

a {

}

a:hover {

}

/*  NAVIGATION BAR  */
nav {
    width: 100%;
    background-color: #ffcf76;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid #990a07;
    height: 50px;
}

nav a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px;
    color: #990a07;
}

nav a:hover {
    color: black;
}

/*  MAIN CONTENT    */
main {
	margin: 50px 0px;
}

main > .container {
	margin: auto;
	padding: 0px 100px;
	display: block;
	max-width: 1000px;
}

#switch {
	text-align: right;
	padding-right: 50px;
}

#content-eng, #content-de {
	padding: 50px;
	text-align: center;
}

table {
    border: 0;
    width: 100%;
}

/*  INPUT FORM  */
input {
	padding: 5px;
	margin: 10px;
	font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif; 
	font-size: 18px;
	display: block;
	width: 450px;
}

#errormsgs {
	display: none;
	border: 1px solid red;
	padding: 15px;
	margin: 10px 0px;
	color: red;
	background-color: #ffcdcd
}

#message {
	height: 200px;
	width: 450px;
	padding: 5px;
	margin: 10px;
	/* vertical-align: top; */
	font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif; 
	font-size: 18px;
	display: block;
}

input[type=submit] {
	width: auto;
    background-color: #ffcf76;
    text-align: center;
	vertical-align: middle;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    border-bottom: 2px solid #990a07;
    height: 50px;
}


/* MANAGING LANGUAGES */ 

#content-eng {
	display: none;
}

#content-de {
	display: block;
}

#switch-eng, #switch-de {
	font-family: 'Algerian', Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
}

#switch-de {
	color: #990a07;
}

#switch-eng {
	color: #878787;
}