@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    color: #262222;
    font-size: 20px;
    background-color: #ffffff;
}

h1 {

}

h2 {

}

a {

}

a:hover {

}

/*  NAVIGATION BAR  */
nav {

}

nav.a {

}

nav.a:hover {

}

/*  MAIN CONTENT    */

main {

}

/*  INPUT FORM  */
input {

}

textarea {

}

